html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

ol, ul {
  list-style: none;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; 
}

body {
  font: 100% 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Helvetica, Arial, sans-serif;
  color: #444;
  background: #fff;
}

h1 {
  color: #222;
  font-size: 2em;/* 32px */
  line-height: .75;/* 24px */
  margin-bottom: .75em; 

  section & {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
  }
}

h2 {
  color: #222;
  font-size: 1.5em; /* 24px */
  line-height: 1;
  margin-bottom: 1em;
}

p {
  font-size: 1em; /* = 16px */
  line-height: 1.5; /* = 24px */
  margin: 0 0 1.5em;

  header & {
    font-size: .875em;  /* = 14px */
    line-height: 1.714;
  }
}

section {
  width: 75%;
  margin: 3em auto;
}

footer small {
  font-size:  .875em;  /* = 14px */
  line-height: 1.714;  /* = 24px */
}